#professor_container{
  margin: auto;
  width: 100%;
  padding: 10px;
}
.tableWrapper {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#prof_info {
  margin: auto;
  width: 50%;
  background-color: lightgrey;
}
#map {
  position:absolute;
  margin-top: 48px;
  top:0;
  bottom:0;
  width:100%; 
}

#search-bar{
  margin-bottom:10px;
}
#col-center{
  text-align: center;
}


/* .loginButton{
  background-color: cyan;
  border-radius: 6px;
  color: #333;
}
.loginButton:hover{
  background-color: lightcyan;
  color: #444;
} */
#star
{
  color: yellow;
}
.panel-group {
  margin-bottom: 0px !important;
}
.form-group {
  margin-bottom: 0px !important;
}
.table {
  margin-bottom: 0px !important;
}

.marker {
  background-image: url('assets/pin_icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#panel1{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
#panel2{
  border-radius: 0;
}
#panel3{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
#edit-modal-body{
  padding: 9px !important;
}
#cell:hover {
  background-color: lightskyblue;
}
