<section>
  <div class="page-header">
    <h1>{{vm.coursecrud._id ? 'Edit Coursecrud' : 'New Coursecrud'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.coursecrudForm" class="form-horizontal" ng-submit="vm.save(vm.form.coursecrudForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Code</label>
          <input name="code" type="text" ng-model="vm.coursecrud.code" id="code" class="form-control" placeholder="code" required>
          <div ng-messages="vm.form.coursecrudForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Coursecrud code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.coursecrud.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.coursecrudForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Coursecrud name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Department</label>
          <input name="department" type="text" ng-model="vm.coursecrud.department" id="department" class="form-control" placeholder="department" >
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Instructor name</label>
          <input name="instructor_name" type="text" ng-model="vm.coursecrud.instructor_names" id="instructor_name" class="form-control" placeholder="instructor name" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <input name="Description" type="text" ng-model="vm.coursecrud.Description" id="Description" class="form-control" placeholder="description" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.coursecrud._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
