<section>
  <div class="page-header">
    <h1>Coursecruds</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="coursecrud in vm.coursecruds"
       ui-sref="coursecruds.view({ coursecrudId: coursecrud._id })"
       class="list-group-item">
      <!-- <small class="list-group-item-text">
        Posted on
        <span ng-bind="coursecrud.created | date:'mediumDate'"></span>
        by
        <span ng-if="coursecrud.user" ng-bind="coursecrud.user.displayName"></span>
        <span ng-if="!coursecrud.user">Deleted User</span>
      </small> -->
      <h4 class="list-group-item-heading" ng-bind="coursecrud.code"></h4>
      <h4 class="list-group-item-heading" ng-bind="coursecrud.name"></h4>
      <h4 class="list-group-item-heading" ng-bind="coursecrud.department"></h4>
      <h4 class="list-group-item-heading" ng-bind="coursecrud.instructor_names"></h4>
      <h4 class="list-group-item-heading" ng-bind="coursecrud.description"></h4>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.coursecruds.$resolved && !vm.coursecruds.length">
    No courses yet, why don't you <a ui-sref="coursecruds.create">create one</a>?
  </div>
</section>
