<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('home')">&times;</button>
    <h4 class="modal-title"> *Professor/Course/TA*'s Office Hours</h4>
</div>
<div class="modal-body" ng-app="directoryApp">
    <!-- 
              Things that need to go here:
                - Twitter
                - Office Hours/Location
                - RateMyProfessor
                - Research Opportunities
                - (Optional) Headshot, pulled from Website?
            -->
    <div id="officeHours">
        <label for="officeHours">Office Hours</label>
        <p>M/W/F 3:00PM - 3:50PM</p>
        <div>input goes here</div>
    </div>
    <div id="research">
        <label for="research">Research Opportunities</label>
        <p>1 Research Assistant in Spatial Computing</p>
    </div>
    <div id="twitter-widget-holder">
        <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" data-tweet-limit="1">Tweets
            by {{vm.twitter}}</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="RateMyProfessor">
        <p>RateMyProfessor Details</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('home')">Close</button>
</div>