<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('home')">&times;</button>
    <h4 class="modal-title"> {{vm.name}}'s Office Hours</h4>
</div>
<div class="modal-body" ng-app="directoryApp" ng-controller="DetailsInstanceController as ctrl">
    <!-- 
              Things that need to go here:
                - Twitter
                - Office Hours/Location
                - RateMyProfessor
                - Research Opportunities
                - (Optional) Headshot, pulled from Website?
            -->
    <div id="officeHours">
        <label for="officeHours">Office Hours</label>
        <div ng-repeat="course in ctrl.myCourse track by $index">
            <label> <a data-toggle="collapse" data-target="#{{$index}}">{{course.code}}
                    {{course.name}}</a></label>
            <div id="{{$index}}" class="collapse">
                <table class="table table-bordered">
                    <tr>
                        <th>Periods:</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    <tr ng-repeat="period in ctrl.periods">
                        <td>
                            {{period.time}}
                        </td>
                        <td id="cell" ng-repeat="day in period.days track by $index" ng-class="{active: (ctrl.checkCellState($parent.$index, $index) == true)}">

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="research">
        <label for="research">Research Opportunities</label>
        <p>1 Teaching Assistant in Introduction to Software Engineering</p>
    </div>
    <div id="twitter-widget-holder">
        <label>Twitter</label>
        <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" data-tweet-limit="1">Tweets
            by {{$ctrl.twitter}}</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="RateMyProfessor">
        <label>RateMyProfessor</label>
        <p>RateMyProfessor Details</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('home')">Close</button>
</div>