<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"> Search for...</h4>
</div>
<div class="modal-body" ng-app="directoryApp">
    <div class="input-group" id="search-bar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" ng-model="search" class="form-control" placeholder="Search" ng-keyup="($event.keyCode != 0 && search !== '') ? updateResult() : null" >
    </div>
    <div class="tableWrapper">
        <table class="table table-striped table-hover">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Instructors</th>
                <th>Department</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
            <tr ng-repeat="course in courses | filter: search">

                <td>{{course.code}}</td>
                <td>{{course.name}}</td>
                <!-- <td><span ng-repeat="list in listing.instructor_names">{{list}}</span></td> -->
                <td><a ng-repeat="list in course.sections[0].instructors" ui-sref="details({name: list.name})" ng-click="$dismiss('cancel')">{{list.name}}</br></a></td>
                <td>{{course.sections[0].deptName}}</td>
                <td>{{course.description}}</td>
                <td>{{course.building}}<button class="btn btn-default btn-sm" ng-click="findLocation(course)"><span class="glyphicon glyphicon-map-marker"></button></td>
                <!-- <td>
                              <h2>Update Listing</h2>
                              Code: <input type="text" ng-model="newListing.code" /><br />
                              Name: <input type="text" ng-model="newListing.name" /><br />
                              <button class="btn btn-primary" ng-click="updateListing($index)">Update</button>
                          </td> -->
            </tr>

        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>