<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h1 class="text-center">Welcome to Teachr!</h1>
</div>
<div class="modal-body">
    <input type="text" placeholder="Username" ng-model="vm.registerData.username" class="form-control" required>
    <br/>
    <input type="email" placeholder="Email" ng-model="vm.registerData.email" class="form-control" required>
    <br/>
    <input type="password" placeholder="Password" ng-model="vm.registerData.password" class="form-control" required>
    <br/>
    <label for="role">Role</label>
        &nbsp; &nbsp;
        <div class='form-group'>
        <input type="radio" id="radioButton" name="gender" ng-model="vm.registerData.role" value="user"> &nbsp;Student
        &nbsp;
        <input type="radio" id="radio" name="gender" ng-model="vm.registerData.role" value="instructor"> &nbsp;Instructor/Researcher/Staff
        &nbsp;
        </div>
    <hr/>
    <button class="btn btn-success form-control" ng-click="vm.register(vm.registerData)">Create Account</button>
    <hr/>
    <div ng-if="vm.formError" class="alert alert-warning">
        Please fill out form properly!
    </div>
    <div ng-if="vm.inputError" class="alert alert-danger">
        Duplicate Username/Email!
    </div>
    <div class="col-md-3"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>