<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h1 class="text-center">Welcome to Teachr!</h1>
</div>
<div class="modal-body">
    <input type="text" placeholder="Username" ng-model="vm.loginData.username" class="form-control" required>
    <br/>
    <input type="password" placeholder="Password" ng-model="vm.loginData.password" required class="form-control">
    <hr/>
    <button class="btn btn-success form-control" ng-click="vm.logIn(vm.loginData)">Enter</button>
    <hr/>
    <div ng-if="formError" class="alert alert-warning">
        Please fill out form properly!
    </div>
    <div ng-if="inputError" class="alert alert-danger">
        Incorrect Username/Password!
    </div>
    <a ui-sref="/signup" class="btn btn-info form-control" role="button">Create Account</a>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>